# PostgreSQL
PG_HOST=postgres
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=your_pg_password
PG_DB=bili_data

# ClickHouse
CH_HOST=clickhouse
CH_PORT=9000
CH_HTTP_PORT=8123
CH_USER=default
CH_PASSWORD=your_ch_password
CH_DB=bili_data

# Crawler
CRAWL_INTERVAL_HOUR=1
CRAWL_DAILY_HOUR=0
CRAWL_DELAY_MS=300

# Server
APP_PORT=8080

# Bilibili (DO NOT COMMIT)
# Get your SESSDATA from browser cookies after logging in to bilibili.com
BILIBILI_SESSDATA=
